<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="text-align: justify">Passionné d'airsoft de jeux vidéos et de moto.
            J'ai commencé la programmation à l'age de 13 ans d'abord en créant des mods communautaires sur le jeu vidéo Arma III.
            Par la suité, j'ai souhaité centrer mes études dans l'informatique et la programmation grâce à cette passion afin d'en faire mon métier.</p>
      </div>
      <div class="col-lg-4">
        <p style="text-align: justify">Engagé, curieux et toujours prêt à relever de nouveaux défis, je privilégie le travail en équipe, les méthodes agiles et une approche orientée utilisateur afin de garantir la qualité et la pertinence des solutions proposées. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ 'files/CV_Paul_Moncenix-Larue.pdf' | relative_url }}" target="_blank" rel="noopener" class="btn btn-lg btn-outline">
          <i class="fa fa-file-pdf-o"></i> Visualiser mon CV
        </a>
      </div>
    </div>
  </div>
</section>
