<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="text-align: justify">Je m'appelle Paul, j'ai 20 ans et je suis actuellement en BUT informatique parcours
          réalisation d'applications : conception, développement, validation à l'IUT2 de Grenoble. En parallèle de mes études, je suis aussi Sapeur-Pompier Volontaire au Service Départemental d'Incendie et de Secours de l'Isère depuis juillet 2024. Vous pouvez consulter mon CV si dessous pour plus de détails.</p>
      </div>
      <div class="col-lg-4">
        <p style="text-align: justify">Depuis jeunes, j'ai développé un attrait important envers le côté invisible à l'utilisateur
          des logiciels, sites web et jeux vidéo que j'utilisais. J'ai découvert le monde de la
          programmation en commençant par développer des mods communautaires sur un jeu
          vidéo qui ont été utilisés par plusieurs milliers de joueurs. J'appréciais ce côté où tout
          pouvait être créé et c'est à la suite de cela que j'ai choisi de développer mes compétences
          à travers un parcours d'étude orienté vers l'informatique et le développement. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ 'files/CV_Paul_Moncenix-Larue.pdf' }}" target="_blank" rel="noopener" class="btn btn-lg btn-outline">
          <i class="fa fa-file-pdf-o"></i> Visualiser mon CV
        </a>
      </div>
    </div>
  </div>
</section>
